<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>chest/chest04/chest04_close01.png</key>
			<dict>
				<key>frame</key>
				<string>{{106,0},{65,58}}</string>
				<key>offset</key>
				<string>{7,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,113}</string>
			</dict>
			<key>chest/chest04/chest04_open01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{106,89}}</string>
				<key>offset</key>
				<string>{-4,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,113}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>chest04.png</string>
			<key>realTextureFileName</key>
			<string>chest04.png</string>
			<key>size</key>
			<string>{171,89}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>171</integer>
			<key>height</key>
			<integer>89</integer>
		</dict>
	</dict>
</plist>