<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>coverUI/bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,1962},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>coverUI/bg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1962},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>coverUI/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,1962},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>coverUI/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,352},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,127},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1865},{64,39}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>coverUI/text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1865},{273,41}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,41}</string>
			</dict>
			<key>coverSprite/effect/ball01.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,714},{97,82}}</string>
				<key>offset</key>
				<string>{7,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball02.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,714},{90,77}}</string>
				<key>offset</key>
				<string>{7,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,432},{80,76}}</string>
				<key>offset</key>
				<string>{9,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,565},{65,66}}</string>
				<key>offset</key>
				<string>{8,-10}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,630},{57,58}}</string>
				<key>offset</key>
				<string>{5,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,687},{54,57}}</string>
				<key>offset</key>
				<string>{4,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,741},{54,56}}</string>
				<key>offset</key>
				<string>{4,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1992},{1,1}}</string>
				<key>offset</key>
				<string>{-9,-33}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/boom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,795},{170,118}}</string>
				<key>offset</key>
				<string>{1,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1170,965},{154,177}}</string>
				<key>offset</key>
				<string>{-10,11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,0},{141,158}}</string>
				<key>offset</key>
				<string>{-12,9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1045},{206,216}}</string>
				<key>offset</key>
				<string>{-15,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1726,879},{206,210}}</string>
				<key>offset</key>
				<string>{-14,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1251},{206,203}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1347,1077},{206,206}}</string>
				<key>offset</key>
				<string>{-14,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1421},{206,203}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom09.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1454},{206,203}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/effect04_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,714},{61,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1977},{45,15}}</string>
				<key>offset</key>
				<string>{18,-57}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,1962},{50,29}}</string>
				<key>offset</key>
				<string>{17,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,0},{93,127}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,552},{83,128}}</string>
				<key>offset</key>
				<string>{3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,227},{66,125}}</string>
				<key>offset</key>
				<string>{6,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1962},{57,27}}</string>
				<key>offset</key>
				<string>{14,44}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,508},{57,76}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1066,1251},{118,114}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1553,1077},{124,124}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1037,158},{155,135}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1271},{157,150}}</string>
				<key>offset</key>
				<string>{0,-17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1181,1119},{155,152}}</string>
				<key>offset</key>
				<string>{0,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1993},{1,1}}</string>
				<key>offset</key>
				<string>{23,-22}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>coverSprite/effect/title01.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1910},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>coverSprite/effect/title02.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1813},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>coverSprite/hero/effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,791},{233,254}}</string>
				<key>offset</key>
				<string>{0,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,337}</string>
			</dict>
			<key>coverSprite/hero/effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{649,1700},{532,113}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,113}</string>
			</dict>
			<key>coverSprite/hero/hero01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,960},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,0},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1700},{277,319}}</string>
				<key>offset</key>
				<string>{-5,5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{286,328}</string>
			</dict>
			<key>coverSprite/hero/hero03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1362,740},{364,337}}</string>
				<key>offset</key>
				<string>{-6,11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,395}</string>
			</dict>
			<key>coverSprite/hero/hero04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,352},{512,362}}</string>
				<key>offset</key>
				<string>{-2,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,405}</string>
			</dict>
			<key>coverSprite/hero/hero05.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{397,334}}</string>
				<key>offset</key>
				<string>{-13,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,412}</string>
			</dict>
			<key>coverSprite/hero/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
			<key>coverSprite/other/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1143,1865},{236,126}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,173}</string>
			</dict>
			<key>coverSprite/other/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{959,1904},{184,74}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,173}</string>
			</dict>
			<key>coverSprite/other/btn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,680},{122,73}}</string>
				<key>offset</key>
				<string>{-31,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,0},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,184},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,368},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/logo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,594},{285,179}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,297},{297,179}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,802},{297,151}}</string>
				<key>offset</key>
				<string>{1,15}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1809,0},{297,180}}</string>
				<key>offset</key>
				<string>{1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1700},{330,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,210}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cover.png</string>
			<key>realTextureFileName</key>
			<string>cover.png</string>
			<key>size</key>
			<string>{1989,1998}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1989</integer>
			<key>height</key>
			<integer>1998</integer>
		</dict>
	</dict>
</plist>