<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>coverUI/bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2325,1048},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>coverUI/bg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2353,1055},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>coverUI/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{2367,1008},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>coverUI/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1407,1100},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1160},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,2350},{84,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>coverUI/text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2350},{277,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,41}</string>
			</dict>
			<key>coverSprite/effect/ball01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2037,1560},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball02.png</key>
			<dict>
				<key>frame</key>
				<string>{{2037,1660},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,1566},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1566},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1211,1666},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball06.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1743},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1427,1666},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1643,1740},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/boom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{2098,510},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,758},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{2044,940},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1182,842},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1062},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1230},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1556,978},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1994,1160},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1507,1198},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/effect04_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,835},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,964},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,842},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1463,971},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1093},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1033,1222},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1230},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,430},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1892,620},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1887,810},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,1000},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1837,1190},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1433},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,600},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>coverSprite/effect/title01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1462},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>coverSprite/effect/title02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1097,1514},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>coverSprite/hero/effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,0},{254,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,337}</string>
			</dict>
			<key>coverSprite/hero/effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1630},{571,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,113}</string>
			</dict>
			<key>coverSprite/hero/hero01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1920},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1380,0},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1606,430},{286,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,328}</string>
			</dict>
			<key>coverSprite/hero/hero03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,835},{393,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,395}</string>
			</dict>
			<key>coverSprite/hero/hero04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,430},{544,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,405}</string>
			</dict>
			<key>coverSprite/hero/hero05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1184,430},{422,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,412}</string>
			</dict>
			<key>coverSprite/hero/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
			<key>coverSprite/other/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2120,337},{266,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,173}</string>
			</dict>
			<key>coverSprite/other/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1743},{266,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,173}</string>
			</dict>
			<key>coverSprite/other/btn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{921,1359},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1333,1766},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1859,1760},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2043,1760},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/logo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,1282},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,1450},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1788,1380},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{2088,1380},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,730},{330,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,210}</string>
			</dict>
			<key>coverUI/current.png</key>
			<dict>
				<key>frame</key>
				<string>{{906,1843},{214,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,79}</string>
			</dict>
			<key>coverUI/full.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,690},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>coverUI/list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2275,1260},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>coverUI/list_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,504},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>coverUI/list_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,552},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>coverUI/list_view_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1122,1766},{211,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,85}</string>
			</dict>
			<key>coverUI/new.png</key>
			<dict>
				<key>frame</key>
				<string>{{2325,1008},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>coverUI/player.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,646},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>coverUI/close_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{1126,835},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>coverUI/cover_bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
			<key>coverUI/login.png</key>
			<dict>
				<key>frame</key>
				<string>{{277,2350},{138,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,42}</string>
			</dict>
			<key>coverUI/login2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2325,940},{66,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>coverUI/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{1737,1560},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverUI/new1.png</key>
			<dict>
				<key>frame</key>
				<string>{{415,2350},{138,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,42}</string>
			</dict>
			<key>coverUI/new3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2325,974},{66,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>coverUI/psw.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,430},{70,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,37}</string>
			</dict>
			<key>coverUI/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,2350},{123,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,42}</string>
			</dict>
			<key>coverUI/user.png</key>
			<dict>
				<key>frame</key>
				<string>{{2049,467},{70,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,37}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cover.png</string>
			<key>realTextureFileName</key>
			<string>cover.png</string>
			<key>size</key>
			<string>{2399,2397}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2399</integer>
			<key>height</key>
			<integer>2397</integer>
		</dict>
	</dict>
</plist>