<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effect5000/effect5000_a01.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,0},{275,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,152}</string>
			</dict>
			<key>effect/effect5000/effect5000_a02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,173}</string>
			</dict>
			<key>effect/effect5000/effect5000_a03.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,152},{225,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,178}</string>
			</dict>
			<key>effect/effect5000/effect5000_a04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{204,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,178}</string>
			</dict>
			<key>effect/effect5000/effect5000_a05.png</key>
			<dict>
				<key>frame</key>
				<string>{{488,330},{138,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,167}</string>
			</dict>
			<key>effect/effect5000/effect5000_b01.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,0},{74,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,142}</string>
			</dict>
			<key>effect/effect5000/effect5000_b02.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,266},{80,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,107}</string>
			</dict>
			<key>effect/effect5000/effect5000_b03.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,351},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,87}</string>
			</dict>
			<key>effect/effect5000/effect5000_b04.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,468},{98,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,93}</string>
			</dict>
			<key>effect/effect5000/effect5000_b05.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,284},{100,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,92}</string>
			</dict>
			<key>effect/effect5000/effect5000_c01.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,0},{275,152}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{275,152}</string>
			</dict>
			<key>effect/effect5000/effect5000_c02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,0},{256,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,173}</string>
			</dict>
			<key>effect/effect5000/effect5000_c03.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,275},{225,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,178}</string>
			</dict>
			<key>effect/effect5000/effect5000_c04.png</key>
			<dict>
				<key>frame</key>
				<string>{{204,173},{204,178}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{204,178}</string>
			</dict>
			<key>effect/effect5000/effect5000_c05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,351},{138,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{138,167}</string>
			</dict>
			<key>effect/effect5000/effect5000_d01.png</key>
			<dict>
				<key>frame</key>
				<string>{{939,142},{74,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,142}</string>
			</dict>
			<key>effect/effect5000/effect5000_d02.png</key>
			<dict>
				<key>frame</key>
				<string>{{655,330},{80,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,107}</string>
			</dict>
			<key>effect/effect5000/effect5000_d03.png</key>
			<dict>
				<key>frame</key>
				<string>{{260,351},{93,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,87}</string>
			</dict>
			<key>effect/effect5000/effect5000_d04.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,173},{98,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,93}</string>
			</dict>
			<key>effect/effect5000/effect5000_d05.png</key>
			<dict>
				<key>frame</key>
				<string>{{915,376},{100,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,92}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect5000.png</string>
			<key>realTextureFileName</key>
			<string>effect5000.png</string>
			<key>size</key>
			<string>{1015,561}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1015</integer>
			<key>height</key>
			<integer>561</integer>
		</dict>
	</dict>
</plist>