<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effect5004/effect5004_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,620},{122,206}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,928},{95,202}}</string>
				<key>offset</key>
				<string>{1,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,831},{122,209}}</string>
				<key>offset</key>
				<string>{6,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,620},{122,211}}</string>
				<key>offset</key>
				<string>{2,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{209,826},{102,209}}</string>
				<key>offset</key>
				<string>{-5,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,403},{136,217}}</string>
				<key>offset</key>
				<string>{-3,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,0},{150,216}}</string>
				<key>offset</key>
				<string>{-2,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{168,208}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,316}</string>
			</dict>
			<key>effect/effect5004/effect5004_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,208},{170,195}}</string>
				<key>offset</key>
				<string>{-1,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,316}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect5004.png</string>
			<key>realTextureFileName</key>
			<string>effect5004.png</string>
			<key>size</key>
			<string>{418,1023}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>418</integer>
			<key>height</key>
			<integer>1023</integer>
		</dict>
	</dict>
</plist>