<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effect5003/effect5003_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{157,347},{146,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{146,149}</string>
			</dict>
			<key>effect/effect5003/effect5003_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,826},{127,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{127,111}</string>
			</dict>
			<key>effect/effect5003/effect5003_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{156,508},{154,149}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{154,149}</string>
			</dict>
			<key>effect/effect5003/effect5003_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{164,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,173}</string>
			</dict>
			<key>effect/effect5003/effect5003_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{164,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,174}</string>
			</dict>
			<key>effect/effect5003/effect5003_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,667},{153,159}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,159}</string>
			</dict>
			<key>effect/effect5003/effect5003_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,828},{158,154}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{158,154}</string>
			</dict>
			<key>effect/effect5003/effect5003_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,508},{159,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,156}</string>
			</dict>
			<key>effect/effect5003/effect5003_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,826},{116,118}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,118}</string>
			</dict>
			<key>effect/effect5003/effect5003_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{157,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,161}</string>
			</dict>
			<key>effect/effect5003/effect5003_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,667},{154,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,161}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect5003.png</string>
			<key>realTextureFileName</key>
			<string>effect5003.png</string>
			<key>size</key>
			<string>{381,986}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>381</integer>
			<key>height</key>
			<integer>986</integer>
		</dict>
	</dict>
</plist>