<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy/enemy1003/enemy1003_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,337},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{105,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,121}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,121},{109,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,114}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,334},{96,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,84}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,619},{79,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{79,91}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,99},{76,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,96}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,235},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,102},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,430},{93,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{93,86}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{182,928},{85,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,101}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,710},{65,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{65,89}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,291},{83,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,42}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,0},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,528},{91,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,88}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,928},{96,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,91}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,832},{96,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,92}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,436},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,535},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{105,0},{91,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,102}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,430},{98,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{98,82}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,235},{91,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{91,102}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_skill05.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,201},{90,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,85}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_skill06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,634},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,733},{99,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,93}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{91,928},{96,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,91}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{177,334},{87,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,88}</string>
			</dict>
			<key>enemy/enemy1003/enemy1003_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,832},{96,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,91}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>enemy1003.png</string>
			<key>realTextureFileName</key>
			<string>enemy1003.png</string>
			<key>size</key>
			<string>{289,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>289</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>