<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy/enemy1005/enemy1005_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,0},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,89},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{142,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,110}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,0},{142,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,96}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,0},{117,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,96}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,117},{104,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,96}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,90},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,178},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,96},{91,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,106}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,190},{89,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,77}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,213},{85,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,79}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,226},{89,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,65}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,91},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,0},{75,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,101}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{263,96},{107,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,94}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,101},{78,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,96}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,179},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{822,267},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,0},{107,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,101}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{142,0},{121,117}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,117}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,110},{122,116}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,116}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_skill05.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,197},{68,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,105}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_skill06.png</key>
			<dict>
				<key>frame</key>
				<string>{{926,302},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,101},{89,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{89,104}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{629,0},{91,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,103}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{370,187},{87,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,102}</string>
			</dict>
			<key>enemy/enemy1005/enemy1005_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{732,0},{90,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,104}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>enemy1005.png</string>
			<key>realTextureFileName</key>
			<string>enemy1005.png</string>
			<key>size</key>
			<string>{1018,406}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>406</integer>
		</dict>
	</dict>
</plist>