<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy/enemy1004/enemy1004_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{845,0},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,0},{169,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,156}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{174,155}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{174,155}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,155},{136,140}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{136,140}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,0},{143,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{143,125}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,398},{94,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,107}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,107},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,125},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{117,382},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{682,216},{99,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,101}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,156},{106,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,83}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{950,109},{115,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,68}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,156},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{726,0},{119,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,107}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,0},{120,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,107}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{606,0},{120,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,107}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,107},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{718,107},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{256,262},{74,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,81}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,336},{76,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,69}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,310},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill05.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,325},{71,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,68}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill06.png</key>
			<dict>
				<key>frame</key>
				<string>{{575,216},{94,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,107}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_skill07.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,109},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{459,216},{116,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,109}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{339,234},{117,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,108}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,291},{117,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,107}</string>
			</dict>
			<key>enemy/enemy1004/enemy1004_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,265},{117,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,108}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>enemy1004.png</string>
			<key>realTextureFileName</key>
			<string>enemy1004.png</string>
			<key>size</key>
			<string>{1018,492}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>492</integer>
		</dict>
	</dict>
</plist>