﻿<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>firstRechargeUI/88.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,0},{315,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{315,86}</string>
			</dict>
			<key>firstRechargeUI/any.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,86},{210,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,76}</string>
			</dict>
			<key>firstRechargeUI/chong.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,214},{73,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,69}</string>
			</dict>
			<key>firstRechargeUI/girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{392,469}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{392,469}</string>
			</dict>
			<key>firstRechargeUI/popo.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,86},{137,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,128}</string>
			</dict>
			<key>firstRechargeUI/song.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,283},{72,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{72,69}</string>
			</dict>
			<key>firstRechargeUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{707,0},{183,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,89}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>FirstRechargeUI.png</string>
			<key>realTextureFileName</key>
			<string>FirstRechargeUI.png</string>
			<key>size</key>
			<string>{796,469}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>796</integer>
			<key>height</key>
			<integer>469</integer>
		</dict>
	</dict>
</plist>