<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero/hero102/hero102_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,0},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{538,0},{126,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,104}</string>
			</dict>
			<key>hero/hero102/hero102_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,125},{135,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,91}</string>
			</dict>
			<key>hero/hero102/hero102_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{135,125}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{135,125}</string>
			</dict>
			<key>hero/hero102/hero102_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,0},{115,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,143}</string>
			</dict>
			<key>hero/hero102/hero102_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,103},{90,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,145}</string>
			</dict>
			<key>hero/hero102/hero102_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{278,0},{103,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,130}</string>
			</dict>
			<key>hero/hero102/hero102_atk08.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,0},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_dead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,166},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>hero/hero102/hero102_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,0},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,299},{100,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,98}</string>
			</dict>
			<key>hero/hero102/hero102_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,308},{107,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,69}</string>
			</dict>
			<key>hero/hero102/hero102_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,274},{125,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,60}</string>
			</dict>
			<key>hero/hero102/hero102_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{739,166},{120,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{120,50}</string>
			</dict>
			<key>hero/hero102/hero102_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,83},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{135,115},{106,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,120}</string>
			</dict>
			<key>hero/hero102/hero102_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,193},{81,131}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,131}</string>
			</dict>
			<key>hero/hero102/hero102_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{128,221},{114,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,87}</string>
			</dict>
			<key>hero/hero102/hero102_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,104},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,103},{90,145}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,145}</string>
			</dict>
			<key>hero/hero102/hero102_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{408,0},{103,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,130}</string>
			</dict>
			<key>hero/hero102/hero102_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,216},{83,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,128}</string>
			</dict>
			<key>hero/hero102/hero102_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,83},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{892,83},{83,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,114}</string>
			</dict>
			<key>hero/hero102/hero102_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{627,166},{80,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,112}</string>
			</dict>
			<key>hero/hero102/hero102_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,248},{78,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,112}</string>
			</dict>
			<key>hero/hero102/hero102_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,187},{80,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{80,112}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero102.png</string>
			<key>realTextureFileName</key>
			<string>hero102.png</string>
			<key>size</key>
			<string>{1006,397}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1006</integer>
			<key>height</key>
			<integer>397</integer>
		</dict>
	</dict>
</plist>