<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero/hero105/hero105_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{745,0},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,84},{141,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,78}</string>
			</dict>
			<key>hero/hero105/hero105_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,0},{141,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{141,84}</string>
			</dict>
			<key>hero/hero105/hero105_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,281},{93,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,84}</string>
			</dict>
			<key>hero/hero105/hero105_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,245},{100,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,73}</string>
			</dict>
			<key>hero/hero105/hero105_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,0},{122,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,83}</string>
			</dict>
			<key>hero/hero105/hero105_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{623,83},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_dead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{975,0},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>hero/hero105/hero105_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,87},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{620,170},{112,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,80}</string>
			</dict>
			<key>hero/hero105/hero105_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,249},{108,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,79}</string>
			</dict>
			<key>hero/hero105/hero105_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,174},{124,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,71}</string>
			</dict>
			<key>hero/hero105/hero105_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{553,245},{117,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{117,54}</string>
			</dict>
			<key>hero/hero105/hero105_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,101},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{124,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,106}</string>
			</dict>
			<key>hero/hero105/hero105_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,87},{110,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,86}</string>
			</dict>
			<key>hero/hero105/hero105_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,305},{83,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{83,86}</string>
			</dict>
			<key>hero/hero105/hero105_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{242,162},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,182},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,269},{103,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,81}</string>
			</dict>
			<key>hero/hero105/hero105_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,0},{101,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,110}</string>
			</dict>
			<key>hero/hero105/hero105_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,0},{130,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,94}</string>
			</dict>
			<key>hero/hero105/hero105_skill05.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,216},{96,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,89}</string>
			</dict>
			<key>hero/hero105/hero105_skill06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,194},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,0},{115,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,87}</string>
			</dict>
			<key>hero/hero105/hero105_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,94},{118,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,88}</string>
			</dict>
			<key>hero/hero105/hero105_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{505,0},{118,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,87}</string>
			</dict>
			<key>hero/hero105/hero105_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,106},{118,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,88}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero105.png</string>
			<key>realTextureFileName</key>
			<string>hero105.png</string>
			<key>size</key>
			<string>{1018,388}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1018</integer>
			<key>height</key>
			<integer>388</integer>
		</dict>
	</dict>
</plist>