<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heroUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,180},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>heroUI/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>heroUI/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,140},{140,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>heroUI/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>heroUI/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,40},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>heroUI/hero_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{267,262},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>heroUI/hero_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,0},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>heroUI/heroDPS.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,241},{101,21}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>heroUI/heroHP.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,258},{104,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>heroUI/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{184,262},{36,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,49}</string>
			</dict>
			<key>heroUI/reviveTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,280},{68,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,31}</string>
			</dict>
			<key>heroUI/skill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,0},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>heroUI/skill_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{80,90},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>heroUI/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,31},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>heroUI/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,0},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>heroUI/text_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,262},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>heroUI/btn1_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{158,180},{61,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,80}</string>
			</dict>
			<key>heroUI/btn1_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{285,0},{61,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HeroUI.png</string>
			<key>realTextureFileName</key>
			<string>HeroUI.png</string>
			<key>size</key>
			<string>{397,298}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>397</integer>
			<key>height</key>
			<integer>298</integer>
		</dict>
	</dict>
</plist>