<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>loadingUI/bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
			<key>loadingUI/frist.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,960},{323,22}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{347,34}</string>
			</dict>
			<key>loadingUI/letsgo.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{299,59}}</string>
				<key>offset</key>
				<string>{-9,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{346,93}</string>
			</dict>
			<key>loadingUI/login_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,960},{364,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,7}</string>
			</dict>
			<key>loadingUI/login_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,967},{364,7}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{364,7}</string>
			</dict>
			<key>loadingUI/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{297,179}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>loadingUI/star.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,974},{27,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{27,27}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>loadingLayer.png</string>
			<key>realTextureFileName</key>
			<string>loadingLayer.png</string>
			<key>size</key>
			<string>{986,1019}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>986</integer>
			<key>height</key>
			<integer>1019</integer>
		</dict>
	</dict>
</plist>