<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>offlineRewardUI/desc.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{259,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,26}</string>
			</dict>
			<key>offlineRewardUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{259,0},{96,25}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{112,34}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>OfflineRewardUI.png</string>
			<key>realTextureFileName</key>
			<string>OfflineRewardUI.png</string>
			<key>size</key>
			<string>{355,26}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>355</integer>
			<key>height</key>
			<integer>26</integer>
		</dict>
	</dict>
</plist>