<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>rankUI/clearance_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,260},{240,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,31}</string>
			</dict>
			<key>rankUI/level.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,132},{36,15}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,23}</string>
			</dict>
			<key>rankUI/myRank_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,180},{199,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{207,27}</string>
			</dict>
			<key>rankUI/pvp_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{160,153},{239,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,31}</string>
			</dict>
			<key>rankUI/pvpTab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,98},{160,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,55}</string>
			</dict>
			<key>rankUI/pvpTab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,205},{159,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,55}</string>
			</dict>
			<key>rankUI/rankText.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,98},{194,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{209,58}</string>
			</dict>
			<key>rankUI/rankView_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{580,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{580,98}</string>
			</dict>
			<key>rankUI/stageTab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,150},{160,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,55}</string>
			</dict>
			<key>rankUI/stageTab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,205},{159,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,55}</string>
			</dict>
			<key>rankUI/transformation.png</key>
			<dict>
				<key>frame</key>
				<string>{{359,180},{161,20}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,31}</string>
			</dict>
			<key>rankUI/goldTab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,98},{160,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,55}</string>
			</dict>
			<key>rankUI/goldTab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{318,205},{159,55}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,55}</string>
			</dict>
			<key>rankUI/gold_rank.png</key>
			<dict>
				<key>frame</key>
				<string>{{240,260},{240,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{247,31}</string>
			</dict>
			<key>rankUI/Max_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,115},{71,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,29}</string>
			</dict>
			<key>rankUI/Max_stage.png</key>
			<dict>
				<key>frame</key>
				<string>{{514,98},{72,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{81,29}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>RankUI.png</string>
			<key>realTextureFileName</key>
			<string>RankUI.png</string>
			<key>size</key>
			<string>{586,287}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>586</integer>
			<key>height</key>
			<integer>287</integer>
		</dict>
	</dict>
</plist>