<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>list_hero_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{584,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{584,114}}</string>
                <key>sourceSize</key>
                <string>{584,114}</string>
            </dict>
            <key>menu_button_a.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
            <key>menu_button_b.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{120,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,48}}</string>
                <key>sourceSize</key>
                <string>{120,48}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_a.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a851d5ccbfd3554f8c49654da58d6c4a:1/1$</string>
            <key>textureFileName</key>
            <string>ui_a.png</string>
        </dict>
    </dict>
</plist>
