<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>buttonUI/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,414},{20,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,21}</string>
			</dict>
			<key>buttonUI/back.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,33},{72,39}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{105,44}</string>
			</dict>
			<key>buttonUI/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,112},{48,25}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/buy2.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,382},{32,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{45,21}</string>
			</dict>
			<key>buttonUI/buy3.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,130},{48,25}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/cut.png</key>
			<dict>
				<key>frame</key>
				<string>{{79,72},{12,4}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{16,12}</string>
			</dict>
			<key>buttonUI/font15_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,168},{120,11}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,13}</string>
			</dict>
			<key>buttonUI/font16_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,112},{127,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,11}</string>
			</dict>
			<key>buttonUI/font16_green_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,271},{120,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,11}</string>
			</dict>
			<key>buttonUI/font16_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,168},{120,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,13}</string>
			</dict>
			<key>buttonUI/font16_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,112},{120,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,11}</string>
			</dict>
			<key>buttonUI/font16_yellow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{111,33},{140,13}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,13}</string>
			</dict>
			<key>buttonUI/font16_yellow_kmbb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,33},{238,14}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{240,15}</string>
			</dict>
			<key>buttonUI/MaxLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,0},{61,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{61,62}</string>
			</dict>
			<key>buttonUI/notSure.png</key>
			<dict>
				<key>frame</key>
				<string>{{61,160},{48,25}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/percentage.png</key>
			<dict>
				<key>frame</key>
				<string>{{25,434},{15,11}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{17,15}</string>
			</dict>
			<key>buttonUI/recast.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,288},{47,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/revive.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,391},{48,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/sure.png</key>
			<dict>
				<key>frame</key>
				<string>{{11,335},{47,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/upLevel.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,439},{48,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/get.png</key>
			<dict>
				<key>frame</key>
				<string>{{86,33},{97,25}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,44}</string>
			</dict>
			<key>buttonUI/now.png</key>
			<dict>
				<key>frame</key>
				<string>{{14,72},{96,25}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{105,44}</string>
			</dict>
			<key>buttonUI/bind.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{125,33}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,42}</string>
			</dict>
			<key>buttonUI/bind_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,487},{48,25}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,34}</string>
			</dict>
			<key>buttonUI/btn_test.png</key>
			<dict>
				<key>frame</key>
				<string>{{39,72},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>ButtonUI.png</string>
			<key>realTextureFileName</key>
			<string>ButtonUI.png</string>
			<key>size</key>
			<string>{187,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>187</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>