<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>heroUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,181},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>heroUI/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{140,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>heroUI/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{140,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,80}</string>
			</dict>
			<key>heroUI/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,259},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>heroUI/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{130,259},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>heroUI/hero_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,174},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>heroUI/hero_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>heroUI/heroDPS.png</key>
			<dict>
				<key>frame</key>
				<string>{{116,80},{101,21}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>heroUI/heroHP.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,80},{104,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>heroUI/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,140},{36,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{36,49}</string>
			</dict>
			<key>heroUI/reviveTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,184},{68,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{78,31}</string>
			</dict>
			<key>heroUI/skill_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,206},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>heroUI/skill_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,170},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>heroUI/star1.png</key>
			<dict>
				<key>frame</key>
				<string>{{194,238},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>heroUI/star2.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,270},{32,30}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,30}</string>
			</dict>
			<key>heroUI/text_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,140},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>HeroUI.png</string>
			<key>realTextureFileName</key>
			<string>HeroUI.png</string>
			<key>size</key>
			<string>{225,300}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>225</integer>
			<key>height</key>
			<integer>300</integer>
		</dict>
	</dict>
</plist>