<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mainUI/bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{501,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{501,46}</string>
			</dict>
			<key>mainUI/bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,0},{461,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{461,17}</string>
			</dict>
			<key>mainUI/bar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,641},{444,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{444,6}</string>
			</dict>
			<key>mainUI/battle_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,286},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>mainUI/bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,363},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mainUI/bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,222},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>mainUI/bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{47,186},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>mainUI/bg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,253},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>mainUI/bg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,222},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>mainUI/bg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{118,182},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>mainUI/bg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,571},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>mainUI/bg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,236},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>mainUI/bg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{32,256},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>mainUI/bg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,108},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>mainUI/bg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,186},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>mainUI/bg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{104,229},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>mainUI/bg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{585,331},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>mainUI/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,192},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>mainUI/bg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,108},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>mainUI/bg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mainUI/bg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{574,313},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>mainUI/bg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,328},{10,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,31}</string>
			</dict>
			<key>mainUI/bg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{539,313},{19,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,35}</string>
			</dict>
			<key>mainUI/bg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,381},{21,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,41}</string>
			</dict>
			<key>mainUI/bg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,571},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>mainUI/clear_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{546,228},{85,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,77}</string>
			</dict>
			<key>mainUI/close_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,228},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>mainUI/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,182},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mainUI/empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,645},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>mainUI/equip_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,405},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>mainUI/f22_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,519},{18,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{21,18}</string>
			</dict>
			<key>mainUI/font12_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,170},{198,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,21}</string>
			</dict>
			<key>mainUI/font14_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,108},{110,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,12}</string>
			</dict>
			<key>mainUI/font14_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{384,218},{110,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,12}</string>
			</dict>
			<key>mainUI/font18_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,378},{100,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,15}</string>
			</dict>
			<key>mainUI/font18_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,458},{100,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,15}</string>
			</dict>
			<key>mainUI/font20_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,176},{160,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,14}</string>
			</dict>
			<key>mainUI/font22_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,478},{179,16}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,17}</string>
			</dict>
			<key>mainUI/font22_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,461},{180,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,17}</string>
			</dict>
			<key>mainUI/font22_yellow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,176},{202,16}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{205,17}</string>
			</dict>
			<key>mainUI/font22_yellow_kmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{341,108},{297,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{300,19}</string>
			</dict>
			<key>mainUI/font22_yellow_kmbb.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,108},{317,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{320,19}</string>
			</dict>
			<key>mainUI/font26_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,0},{170,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>mainUI/font28_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{366,425},{210,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,21}</string>
			</dict>
			<key>mainUI/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,211},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mainUI/hero_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,138},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>mainUI/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,217},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>mainUI/key.png</key>
			<dict>
				<key>frame</key>
				<string>{{152,166},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>mainUI/lable_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{264,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,71}</string>
			</dict>
			<key>mainUI/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{72,253},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{29,32}</string>
			</dict>
			<key>mainUI/login_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,495},{85,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,77}</string>
			</dict>
			<key>mainUI/offline_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,494},{85,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,77}</string>
			</dict>
			<key>mainUI/pack_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{386,501},{139,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,131}</string>
			</dict>
			<key>mainUI/relic.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,236},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mainUI/skill_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{456,368},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>mainUI/slice131_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,598},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>mainUI/stage_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,138},{54,45}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>mainUI/star0.png</key>
			<dict>
				<key>frame</key>
				<string>{{349,495},{24,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{24,15}</string>
			</dict>
			<key>mainUI/statistics_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,0},{138,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{164,131}</string>
			</dict>
			<key>mainUI/tab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,441},{32,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,55}</string>
			</dict>
			<key>mainUI/tab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,204},{32,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,55}</string>
			</dict>
			<key>mainUI/tab_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,335},{28,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,96}</string>
			</dict>
			<key>mainUI/tab_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,108},{28,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,96}</string>
			</dict>
			<key>mainUI/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{176,30}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,30}</string>
			</dict>
			<key>mainUI/tips_skill_buff.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,108},{297,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{311,42}</string>
			</dict>
			<key>mainUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,108},{150,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{150,44}</string>
			</dict>
			<key>mainUI/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,494},{104,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,37}</string>
			</dict>
			<key>mainUI/title_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{394,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,108}</string>
			</dict>
			<key>mainUI/title_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,572},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>mainUI/title_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,572},{180,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,69}</string>
			</dict>
			<key>mainUI/title_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,258},{123,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{123,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI.png</string>
			<key>realTextureFileName</key>
			<string>MainUI.png</string>
			<key>size</key>
			<string>{647,647}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>647</integer>
			<key>height</key>
			<integer>647</integer>
		</dict>
	</dict>
</plist>