<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>mainUI/bar_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,0},{501,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{501,46}</string>
			</dict>
			<key>mainUI/bar1.png</key>
			<dict>
				<key>frame</key>
				<string>{{579,0},{461,17}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{461,17}</string>
			</dict>
			<key>mainUI/bar2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,605},{444,6}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{444,6}</string>
			</dict>
			<key>mainUI/battle_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,410},{50,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{52,50}</string>
			</dict>
			<key>mainUI/bg_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,184},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mainUI/bg_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,108},{34,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{34,36}</string>
			</dict>
			<key>mainUI/bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,378},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>mainUI/bg_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{126,142},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>mainUI/bg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,144},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>mainUI/bg_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,331},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>mainUI/bg_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,541},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>mainUI/bg_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,294},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>mainUI/bg_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,433},{29,28}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,28}</string>
			</dict>
			<key>mainUI/bg_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,340},{74,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{74,74}</string>
			</dict>
			<key>mainUI/bg_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{217,323},{31,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{31,47}</string>
			</dict>
			<key>mainUI/bg_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,173},{32,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,31}</string>
			</dict>
			<key>mainUI/bg_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,323},{32,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,33}</string>
			</dict>
			<key>mainUI/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,291},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>mainUI/bg_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,108},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>
			<key>mainUI/bg_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,262},{78,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,78}</string>
			</dict>
			<key>mainUI/bg_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{202,481},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{18,18}</string>
			</dict>
			<key>mainUI/bg_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,430},{10,31}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{10,31}</string>
			</dict>
			<key>mainUI/bg_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,544},{19,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{19,35}</string>
			</dict>
			<key>mainUI/bg_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,500},{21,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,41}</string>
			</dict>
			<key>mainUI/bg_21.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,414},{67,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{67,68}</string>
			</dict>
			<key>mainUI/clear_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,108},{85,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{85,77}</string>
			</dict>
			<key>mainUI/close_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,166},{56,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,58}</string>
			</dict>
			<key>mainUI/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{257,410},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mainUI/empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,611},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>
			<key>mainUI/equip_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,108},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>mainUI/f22_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,588},{18,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,18}</string>
			</dict>
			<key>mainUI/font12_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,235},{198,19}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{204,21}</string>
			</dict>
			<key>mainUI/font14_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,0},{110,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,12}</string>
			</dict>
			<key>mainUI/font14_red.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,110},{110,10}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,12}</string>
			</dict>
			<key>mainUI/font18_green.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,588},{100,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,15}</string>
			</dict>
			<key>mainUI/font18_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,544},{100,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,15}</string>
			</dict>
			<key>mainUI/font20_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,0},{160,14}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{160,14}</string>
			</dict>
			<key>mainUI/font22_white.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,235},{179,16}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,17}</string>
			</dict>
			<key>mainUI/font22_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,484},{180,16}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,17}</string>
			</dict>
			<key>mainUI/font22_yellow_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,481},{202,16}}</string>
				<key>offset</key>
				<string>{2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{205,17}</string>
			</dict>
			<key>mainUI/font22_yellow_kmb.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,463},{297,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,19}</string>
			</dict>
			<key>mainUI/font22_yellow_kmbb.png</key>
			<dict>
				<key>frame</key>
				<string>{{297,570},{317,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{320,19}</string>
			</dict>
			<key>mainUI/font26_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,461},{170,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{170,25}</string>
			</dict>
			<key>mainUI/font28_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{596,220},{210,20}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{210,21}</string>
			</dict>
			<key>mainUI/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,251},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mainUI/hero_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,198},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>mainUI/icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,108},{36,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,36}</string>
			</dict>
			<key>mainUI/key.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,108},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>mainUI/lable_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{264,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,71}</string>
			</dict>
			<key>mainUI/lock.png</key>
			<dict>
				<key>frame</key>
				<string>{{364,414},{29,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{29,32}</string>
			</dict>
			<key>mainUI/login_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,378},{85,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,77}</string>
			</dict>
			<key>mainUI/offline_reward.png</key>
			<dict>
				<key>frame</key>
				<string>{{77,378},{85,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,77}</string>
			</dict>
			<key>mainUI/pack_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{139,120}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,131}</string>
			</dict>
			<key>mainUI/relic.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,254},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>mainUI/skill_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,288},{90,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{90,90}</string>
			</dict>
			<key>mainUI/slice131_@.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,153},{43,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,44}</string>
			</dict>
			<key>mainUI/stage_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{203,410},{54,45}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>
			<key>mainUI/star0.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,588},{24,15}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{24,15}</string>
			</dict>
			<key>mainUI/statistics_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,120},{138,115}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{164,131}</string>
			</dict>
			<key>mainUI/tab_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{244,196},{32,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,55}</string>
			</dict>
			<key>mainUI/tab_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{186,222},{32,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,55}</string>
			</dict>
			<key>mainUI/tab_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{513,235},{28,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,96}</string>
			</dict>
			<key>mainUI/tab_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{90,340},{28,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,96}</string>
			</dict>
			<key>mainUI/tips.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,588},{176,30}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,30}</string>
			</dict>
			<key>mainUI/tips_skill_buff.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,572},{297,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{311,42}</string>
			</dict>
			<key>mainUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,500},{150,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{150,44}</string>
			</dict>
			<key>mainUI/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,421},{104,37}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,37}</string>
			</dict>
			<key>mainUI/title_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{394,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{394,108}</string>
			</dict>
			<key>mainUI/title_bg2.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,235},{186,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{186,73}</string>
			</dict>
			<key>mainUI/title_bg3.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,501},{180,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{180,69}</string>
			</dict>
			<key>mainUI/title_bg4.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,368},{123,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{123,42}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MainUI.png</string>
			<key>realTextureFileName</key>
			<string>MainUI.png</string>
			<key>size</key>
			<string>{620,618}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>620</integer>
			<key>height</key>
			<integer>618</integer>
		</dict>
	</dict>
</plist>