<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>materialUI/bronze.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,115},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/crystal.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,155},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/diamond.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,195},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/essence.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,235},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,275},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/golden_chest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>materialUI/golden_chest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>materialUI/golden_key.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,115},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/iron.png</key>
			<dict>
				<key>frame</key>
				<string>{{115,70},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/iron_chest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{140,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>materialUI/iron_chest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,80},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>materialUI/iron_key.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,155},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/key.png</key>
			<dict>
				<key>frame</key>
				<string>{{70,70},{45,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{45,45}</string>
			</dict>
			<key>materialUI/leather.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,195},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/relic.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,235},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/rune.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,275},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/silver_chest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{210,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>materialUI/silver_chest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,160},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
			<key>materialUI/silver_key.png</key>
			<dict>
				<key>frame</key>
				<string>{{150,110},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/stone.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,70},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/wood.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,110},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>
			<key>materialUI/wood_chest_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{280,0},{70,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,70}</string>
			</dict>
			<key>materialUI/wood_chest_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,240},{70,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,80}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>MaterialUI.png</string>
			<key>realTextureFileName</key>
			<string>MaterialUI.png</string>
			<key>size</key>
			<string>{350,320}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>350</integer>
			<key>height</key>
			<integer>320</integer>
		</dict>
	</dict>
</plist>