<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ui/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,469},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>
			<key>ui/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,469},{100,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,80}</string>
			</dict>
			<key>ui/equip_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{190,270},{95,92}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/equip_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,556},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/hero_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,651},{95,92}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/hero_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,175},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/main_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{92,651},{95,92}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/main_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,298},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/pvp_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,549},{95,92}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/pvp_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{170,175},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/rank_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,365},{95,92}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/rank_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{265,175},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/shop_btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{282,270},{95,92}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>ui/shop_btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,270},{95,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,95}</string>
			</dict>
			<key>mailUI/delete.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,238},{87,27}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,29}</string>
			</dict>
			<key>mailUI/get.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,260},{87,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,29}</string>
			</dict>
			<key>mailUI/get2.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,347},{71,23}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,24}</string>
			</dict>
			<key>mailUI/look.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,387},{39,24}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,25}</string>
			</dict>
			<key>mailUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,175},{123,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>
			<key>PVPUI/buy.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,230},{81,21}}</string>
				<key>offset</key>
				<string>{-9,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,25}</string>
			</dict>
			<key>PVPUI/change.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,404},{61,21}}</string>
				<key>offset</key>
				<string>{-19,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>PVPUI/fight.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,311},{76,22}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{87,28}</string>
			</dict>
			<key>PVPUI/pvp.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,177},{56,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{56,59}</string>
			</dict>
			<key>PVPUI/Ranking.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,0},{114,21}}</string>
				<key>offset</key>
				<string>{-11,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{140,24}</string>
			</dict>
			<key>PVPUI/record.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,325},{79,21}}</string>
				<key>offset</key>
				<string>{-10,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,26}</string>
			</dict>
			<key>PVPUI/surplus.png</key>
			<dict>
				<key>frame</key>
				<string>{{776,114},{116,19}}</string>
				<key>offset</key>
				<string>{-6,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{141,30}</string>
			</dict>
			<key>PVPUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,132},{191,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{209,58}</string>
			</dict>
			<key>rechargeUI/bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,0},{177,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,227}</string>
			</dict>
			<key>rechargeUI/card.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,0},{132,80}}</string>
				<key>offset</key>
				<string>{1,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{180,125}</string>
			</dict>
			<key>rechargeUI/day.png</key>
			<dict>
				<key>frame</key>
				<string>{{759,411},{32,24}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{46,30}</string>
			</dict>
			<key>rechargeUI/pic.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,0},{425,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{425,81}</string>
			</dict>
			<key>rechargeUI/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{736,435},{121,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{129,58}</string>
			</dict>
			<key>rechargeUI/title_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,425},{75,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,44}</string>
			</dict>
			<key>rechargeUI/vip.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,132},{106,27}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,39}</string>
			</dict>
			<key>rechargeUI/label.png</key>
			<dict>
				<key>frame</key>
				<string>{{360,177},{80,81}}</string>
				<key>offset</key>
				<string>{2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{83,81}</string>
			</dict>
			<key>other/code_girl.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{362,175}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{362,175}</string>
			</dict>
			<key>other/code_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{670,323},{146,45}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,60}</string>
			</dict>
			<key>other/notice_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,393},{121,49}}</string>
				<key>offset</key>
				<string>{-3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,61}</string>
			</dict>
			<key>other/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,0},{260,26}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{264,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>OtherUI.png</string>
			<key>realTextureFileName</key>
			<string>OtherUI.png</string>
			<key>size</key>
			<string>{798,746}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>798</integer>
			<key>height</key>
			<integer>746</integer>
		</dict>
	</dict>
</plist>