<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>skillUI/cooldown.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,0},{69,18}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,31}</string>
			</dict>
			<key>skillUI/duration.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{69,18}}</string>
				<key>offset</key>
				<string>{-2,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,31}</string>
			</dict>
			<key>skillUI/hero.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{119,24}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,27}</string>
			</dict>
			<key>skillUI/reviveTime.png</key>
			<dict>
				<key>frame</key>
				<string>{{376,0},{68,18}}</string>
				<key>offset</key>
				<string>{-1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,31}</string>
			</dict>
			<key>skillUI/tap.png</key>
			<dict>
				<key>frame</key>
				<string>{{119,0},{119,24}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{131,26}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>SkillUI.png</string>
			<key>realTextureFileName</key>
			<string>SkillUI.png</string>
			<key>size</key>
			<string>{444,24}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>444</integer>
			<key>height</key>
			<integer>24</integer>
		</dict>
	</dict>
</plist>