<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>statisticsUI/cumulative_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,0},{142,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,47}</string>
			</dict>
			<key>statisticsUI/current_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{275,47},{142,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{142,47}</string>
			</dict>
			<key>statisticsUI/f22_y.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,0},{21,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{21,18}</string>
			</dict>
			<key>statisticsUI/text01.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,0},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>statisticsUI/text02.png</key>
			<dict>
				<key>frame</key>
				<string>{{447,0},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>statisticsUI/text03.png</key>
			<dict>
				<key>frame</key>
				<string>{{417,20},{30,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,20}</string>
			</dict>
			<key>statisticsUI/text04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,59},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,82},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text06.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,94},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,105},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text08.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,117},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,128},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text10.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,140},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,151},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text12.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,163},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,174},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text14.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,186},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,197},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text16.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,209},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,220},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text18.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,232},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,243},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text20.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,255},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,266},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text22.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,278},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text23.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,289},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text24.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,301},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,312},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text26.png</key>
			<dict>
				<key>frame</key>
				<string>{{200,324},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/text27.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,335},{200,23}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{200,23}</string>
			</dict>
			<key>statisticsUI/title_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{275,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{275,59}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>StatisticsUI.png</string>
			<key>realTextureFileName</key>
			<string>StatisticsUI.png</string>
			<key>size</key>
			<string>{498,358}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>498</integer>
			<key>height</key>
			<integer>358</integer>
		</dict>
	</dict>
</plist>