<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>material/wood/wood_shine01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,26},{18,18}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>material/wood/wood_shine02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{26,26}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>wood01.png</string>
			<key>realTextureFileName</key>
			<string>wood01.png</string>
			<key>size</key>
			<string>{26,44}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>26</integer>
			<key>height</key>
			<integer>44</integer>
		</dict>
	</dict>
</plist>