<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>coverUI/bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1252,912},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>coverUI/bg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1245,1101},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>coverUI/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1247,1054},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>coverUI/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1103,1651},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1651},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2140},{84,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>coverUI/text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,912},{277,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,41}</string>
			</dict>
			<key>coverSprite/effect/ball01.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1713},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball02.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,1577},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball03.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,2040},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball04.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,2140},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball05.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,2040},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball06.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,2240},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball07.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,2140},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/ball08.png</key>
			<dict>
				<key>frame</key>
				<string>{{856,2240},{216,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{216,100}</string>
			</dict>
			<key>coverSprite/effect/boom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1390},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,1610},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,1813},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1004,1751},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1222,1971},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1285,1751},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1503,1971},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom08.png</key>
			<dict>
				<key>frame</key>
				<string>{{1566,1722},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/boom09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1784,1942},{281,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{281,220}</string>
			</dict>
			<key>coverSprite/effect/effect04_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,1240},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1036,1971},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1971},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1618,1529},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1711,1529},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,1265},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect04_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1765,1394},{93,129}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,129}</string>
			</dict>
			<key>coverSprite/effect/effect05_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,953},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1143},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,1333},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,1523},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1451,1339},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/effect05_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1608,1339},{157,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,190}</string>
			</dict>
			<key>coverSprite/effect/empty.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1008},{48,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{48,46}</string>
			</dict>
			<key>coverSprite/effect/title01.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,860},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>coverSprite/effect/title02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2310},{640,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,52}</string>
			</dict>
			<key>coverSprite/hero/effect001.png</key>
			<dict>
				<key>frame</key>
				<string>{{897,1240},{254,337}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{254,337}</string>
			</dict>
			<key>coverSprite/hero/effect002.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2197},{571,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{571,113}</string>
			</dict>
			<key>coverSprite/hero/hero01_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero01_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero01_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,430},{740,430}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{740,430}</string>
			</dict>
			<key>coverSprite/hero/hero02_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,912},{286,328}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{286,328}</string>
			</dict>
			<key>coverSprite/hero/hero03_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1802},{393,395}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{393,395}</string>
			</dict>
			<key>coverSprite/hero/hero04_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1280,860},{544,405}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{544,405}</string>
			</dict>
			<key>coverSprite/hero/hero05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1390},{422,412}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{422,412}</string>
			</dict>
			<key>coverSprite/hero/title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
			<key>coverSprite/other/btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1352,1549},{266,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,173}</string>
			</dict>
			<key>coverSprite/other/btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1972,2162},{266,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,173}</string>
			</dict>
			<key>coverSprite/other/btn01.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1677},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1076,1577},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1244,1265},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/btn04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1428,1265},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverSprite/other/logo01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1151,1369},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,2197},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1372,2191},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1672,2191},{300,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverSprite/other/logo05.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,1830},{330,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{330,210}</string>
			</dict>
			<key>coverUI/current.png</key>
			<dict>
				<key>frame</key>
				<string>{{1003,2118},{214,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{214,79}</string>
			</dict>
			<key>coverUI/full.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1098},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>coverUI/list_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1260,1549},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>coverUI/list_btn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,912},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>coverUI/list_btn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,960},{49,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{49,48}</string>
			</dict>
			<key>coverUI/list_view_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{825,2033},{211,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{211,85}</string>
			</dict>
			<key>coverUI/new.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1138},{42,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{42,40}</string>
			</dict>
			<key>coverUI/player.png</key>
			<dict>
				<key>frame</key>
				<string>{{1203,1054},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cover.png</string>
			<key>realTextureFileName</key>
			<string>cover.png</string>
			<key>size</key>
			<string>{2238,2377}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2238</integer>
			<key>height</key>
			<integer>2377</integer>
		</dict>
	</dict>
</plist>