<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>coverUI/bg_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{344,960},{28,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{28,36}</string>
			</dict>
			<key>coverUI/bg_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{372,960},{31,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{31,32}</string>
			</dict>
			<key>coverUI/bg_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{312,960},{32,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{32,47}</string>
			</dict>
			<key>coverUI/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,368},{80,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,448},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>coverUI/logo.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,777},{297,179}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{300,180}</string>
			</dict>
			<key>coverUI/text.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,960},{64,39}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{84,47}</string>
			</dict>
			<key>coverUI/text1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,960},{273,41}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{277,41}</string>
			</dict>
			<key>coverUI/yellow_btn_a.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,0},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverUI/yellow_btn_b.png</key>
			<dict>
				<key>frame</key>
				<string>{{937,184},{184,74}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{184,74}</string>
			</dict>
			<key>coverUI/cover.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{777,179}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{777,179}</string>
			</dict>
			<key>coverUI/cover_bg.jpg</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{640,960}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{640,960}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>cover.png</string>
			<key>realTextureFileName</key>
			<string>cover.png</string>
			<key>size</key>
			<string>{1017,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>