<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero102skill02/fly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{352,1592},{155,155}}</string>
				<key>offset</key>
				<string>{-10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{405,1747},{161,128}}</string>
				<key>offset</key>
				<string>{-12,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,1905},{163,128}}</string>
				<key>offset</key>
				<string>{-10,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1905},{165,129}}</string>
				<key>offset</key>
				<string>{-5,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{482,1875},{157,127}}</string>
				<key>offset</key>
				<string>{-13,15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,996},{152,104}}</string>
				<key>offset</key>
				<string>{-11,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/star01.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,616},{134,132}}</string>
				<key>offset</key>
				<string>{-1,-17}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star02.png</key>
			<dict>
				<key>frame</key>
				<string>{{625,996},{92,92}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star03.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,1019},{57,58}}</string>
				<key>offset</key>
				<string>{0,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star04.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,1019},{58,58}}</string>
				<key>offset</key>
				<string>{0,19}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star05.png</key>
			<dict>
				<key>frame</key>
				<string>{{577,540},{191,191}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star06.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1351},{240,241}}</string>
				<key>offset</key>
				<string>{1,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1103},{248,248}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star08.png</key>
			<dict>
				<key>frame</key>
				<string>{{529,346},{194,194}}</string>
				<key>offset</key>
				<string>{0,29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star09.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,1294},{197,227}}</string>
				<key>offset</key>
				<string>{0,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star10.png</key>
			<dict>
				<key>frame</key>
				<string>{{517,1100},{194,240}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star11.png</key>
			<dict>
				<key>frame</key>
				<string>{{473,742},{194,254}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star12.png</key>
			<dict>
				<key>frame</key>
				<string>{{279,752},{194,267}}</string>
				<key>offset</key>
				<string>{0,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star13.png</key>
			<dict>
				<key>frame</key>
				<string>{{609,1847},{197,280}}</string>
				<key>offset</key>
				<string>{0,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star14.png</key>
			<dict>
				<key>frame</key>
				<string>{{389,1314},{214,259}}</string>
				<key>offset</key>
				<string>{-5,7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star15.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,1103},{211,269}}</string>
				<key>offset</key>
				<string>{-4,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star16.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,0},{213,208}}</string>
				<key>offset</key>
				<string>{-3,29}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star17.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,388},{228,222}}</string>
				<key>offset</key>
				<string>{-5,21}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,752},{279,351}}</string>
				<key>offset</key>
				<string>{-22,-18}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,388}</string>
			</dict>
			<key>hero102skill02/star19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{307,364}}</string>
				<key>offset</key>
				<string>{0,-12}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,388}</string>
			</dict>
			<key>hero102skill02/star20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{324,388}}</string>
				<key>offset</key>
				<string>{-15,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,388}</string>
			</dict>
			<key>hero102skill02/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{798,192},{113,105}}</string>
				<key>offset</key>
				<string>{28,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{723,332},{125,106}}</string>
				<key>offset</key>
				<string>{24,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word03.png</key>
			<dict>
				<key>frame</key>
				<string>{{324,213},{140,119}}</string>
				<key>offset</key>
				<string>{34,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word04.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,1710},{137,131}}</string>
				<key>offset</key>
				<string>{33,38}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word05.png</key>
			<dict>
				<key>frame</key>
				<string>{{507,1573},{134,137}}</string>
				<key>offset</key>
				<string>{33,35}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word06.png</key>
			<dict>
				<key>frame</key>
				<string>{{149,1592},{203,145}}</string>
				<key>offset</key>
				<string>{-3,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word07.png</key>
			<dict>
				<key>frame</key>
				<string>{{728,0},{191,192}}</string>
				<key>offset</key>
				<string>{0,6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word08.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,0},{196,201}}</string>
				<key>offset</key>
				<string>{-3,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word09.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1521},{176,187}}</string>
				<key>offset</key>
				<string>{-5,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1905},{154,142}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word11.png</key>
			<dict>
				<key>frame</key>
				<string>{{697,1708},{124,139}}</string>
				<key>offset</key>
				<string>{-17,-16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word12.png</key>
			<dict>
				<key>frame</key>
				<string>{{439,616},{126,138}}</string>
				<key>offset</key>
				<string>{-23,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word13.png</key>
			<dict>
				<key>frame</key>
				<string>{{443,213},{122,133}}</string>
				<key>offset</key>
				<string>{-29,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word14.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,201},{120,133}}</string>
				<key>offset</key>
				<string>{-29,-32}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word15.png</key>
			<dict>
				<key>frame</key>
				<string>{{685,201},{113,131}}</string>
				<key>offset</key>
				<string>{-29,-31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1351},{405,149}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{423,196}</string>
			</dict>
			<key>hero102skill02/word17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1756},{405,149}}</string>
				<key>offset</key>
				<string>{-4,3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{423,196}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero102skill02.png</string>
			<key>realTextureFileName</key>
			<string>hero102skill02.png</string>
			<key>size</key>
			<string>{919,2047}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>919</integer>
			<key>height</key>
			<integer>2047</integer>
		</dict>
	</dict>
</plist>