<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>material/diamond/diamond_shine01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,19},{15,15}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
			<key>material/diamond/diamond_shine02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{19,19}}</string>
				<key>offset</key>
				<string>{-2,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{30,30}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>diamond01.png</string>
			<key>realTextureFileName</key>
			<string>diamond01.png</string>
			<key>size</key>
			<string>{19,34}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>19</integer>
			<key>height</key>
			<integer>34</integer>
		</dict>
	</dict>
</plist>