<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effect5006/gold01.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,486},{72,121}}</string>
				<key>offset</key>
				<string>{19,12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold02.png</key>
			<dict>
				<key>frame</key>
				<string>{{465,193},{221,182}}</string>
				<key>offset</key>
				<string>{18,2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold03.png</key>
			<dict>
				<key>frame</key>
				<string>{{185,1025},{216,177}}</string>
				<key>offset</key>
				<string>{20,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold04.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,354},{207,178}}</string>
				<key>offset</key>
				<string>{21,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold05.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,1454},{186,168}}</string>
				<key>offset</key>
				<string>{23,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold06.png</key>
			<dict>
				<key>frame</key>
				<string>{{510,1433},{154,160}}</string>
				<key>offset</key>
				<string>{26,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold07.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1024},{147,178}}</string>
				<key>offset</key>
				<string>{27,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold08.png</key>
			<dict>
				<key>frame</key>
				<string>{{357,1439},{153,178}}</string>
				<key>offset</key>
				<string>{28,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold09.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,1640},{154,180}}</string>
				<key>offset</key>
				<string>{29,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold10.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1843},{181,186}}</string>
				<key>offset</key>
				<string>{17,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold11.png</key>
			<dict>
				<key>frame</key>
				<string>{{594,375},{207,181}}</string>
				<key>offset</key>
				<string>{4,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,792},{236,176}}</string>
				<key>offset</key>
				<string>{-10,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold13.png</key>
			<dict>
				<key>frame</key>
				<string>{{176,792},{233,175}}</string>
				<key>offset</key>
				<string>{-12,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold14.png</key>
			<dict>
				<key>frame</key>
				<string>{{901,0},{224,152}}</string>
				<key>offset</key>
				<string>{-14,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold15.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,1617},{193,141}}</string>
				<key>offset</key>
				<string>{-2,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold16.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,964},{120,60}}</string>
				<key>offset</key>
				<string>{-38,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5006/gold17.png</key>
			<dict>
				<key>frame</key>
				<string>{{471,964},{120,60}}</string>
				<key>offset</key>
				<string>{-38,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{257,187}</string>
			</dict>
			<key>effect/effect5007/atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,354},{7,23}}</string>
				<key>offset</key>
				<string>{0,-29}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{887,1741},{52,85}}</string>
				<key>offset</key>
				<string>{-19,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,711},{144,145}}</string>
				<key>offset</key>
				<string>{-5,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{904,561},{114,143}}</string>
				<key>offset</key>
				<string>{10,17}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{953,354},{115,132}}</string>
				<key>offset</key>
				<string>{-4,23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,149},{109,114}}</string>
				<key>offset</key>
				<string>{-9,30}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{1179,263},{108,83}}</string>
				<key>offset</key>
				<string>{-8,16}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk08.png</key>
			<dict>
				<key>frame</key>
				<string>{{972,1730},{59,63}}</string>
				<key>offset</key>
				<string>{-7,26}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk09.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,755},{180,209}}</string>
				<key>offset</key>
				<string>{-1,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk10.png</key>
			<dict>
				<key>frame</key>
				<string>{{686,175},{179,207}}</string>
				<key>offset</key>
				<string>{0,3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk11.png</key>
			<dict>
				<key>frame</key>
				<string>{{703,0},{175,198}}</string>
				<key>offset</key>
				<string>{0,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk12.png</key>
			<dict>
				<key>frame</key>
				<string>{{893,175},{179,196}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk13.png</key>
			<dict>
				<key>frame</key>
				<string>{{509,1024},{133,192}}</string>
				<key>offset</key>
				<string>{-2,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk14.png</key>
			<dict>
				<key>frame</key>
				<string>{{642,1593},{130,186}}</string>
				<key>offset</key>
				<string>{-1,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk15.png</key>
			<dict>
				<key>frame</key>
				<string>{{689,1321},{108,177}}</string>
				<key>offset</key>
				<string>{1,-12}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5007/atk16.png</key>
			<dict>
				<key>frame</key>
				<string>{{531,856},{100,175}}</string>
				<key>offset</key>
				<string>{1,-13}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{183,217}</string>
			</dict>
			<key>effect/effect5008/tap01.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1793},{150,125}}</string>
				<key>offset</key>
				<string>{5,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap02.png</key>
			<dict>
				<key>frame</key>
				<string>{{701,956},{146,120}}</string>
				<key>offset</key>
				<string>{3,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1068,354},{134,109}}</string>
				<key>offset</key>
				<string>{2,36}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap04.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1102},{115,92}}</string>
				<key>offset</key>
				<string>{2,35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1018,558},{115,71}}</string>
				<key>offset</key>
				<string>{3,34}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap06.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1741},{115,66}}</string>
				<key>offset</key>
				<string>{3,31}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap07.png</key>
			<dict>
				<key>frame</key>
				<string>{{810,1429},{151,147}}</string>
				<key>offset</key>
				<string>{0,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap08.png</key>
			<dict>
				<key>frame</key>
				<string>{{664,1433},{155,146}}</string>
				<key>offset</key>
				<string>{0,43}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap09.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1588},{153,146}}</string>
				<key>offset</key>
				<string>{-3,44}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap10.png</key>
			<dict>
				<key>frame</key>
				<string>{{918,1580},{150,142}}</string>
				<key>offset</key>
				<string>{-4,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap11.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,711},{133,145}}</string>
				<key>offset</key>
				<string>{2,37}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap12.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,1810},{123,214}}</string>
				<key>offset</key>
				<string>{2,-3}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap13.png</key>
			<dict>
				<key>frame</key>
				<string>{{787,1807},{111,170}}</string>
				<key>offset</key>
				<string>{2,-24}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap14.png</key>
			<dict>
				<key>frame</key>
				<string>{{808,709},{107,163}}</string>
				<key>offset</key>
				<string>{2,-27}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap15.png</key>
			<dict>
				<key>frame</key>
				<string>{{706,856},{100,164}}</string>
				<key>offset</key>
				<string>{2,-35}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1089,152},{90,157}}</string>
				<key>offset</key>
				<string>{-1,-38}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1125,0},{93,149}}</string>
				<key>offset</key>
				<string>{4,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5008/tap18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1218,0},{102,112}}</string>
				<key>offset</key>
				<string>{4,-59}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,234}</string>
			</dict>
			<key>effect/effect5009/change01.png</key>
			<dict>
				<key>frame</key>
				<string>{{885,1918},{255,74}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change02.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1359},{253,80}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change03.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,1933},{249,96}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change04.png</key>
			<dict>
				<key>frame</key>
				<string>{{446,1335},{243,98}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change05.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1840},{239,116}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change06.png</key>
			<dict>
				<key>frame</key>
				<string>{{193,1241},{233,118}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change07.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,0},{227,175}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1028},{223,185}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,569},{223,189}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change10.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,0},{223,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,183},{221,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,376},{219,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change13.png</key>
			<dict>
				<key>frame</key>
				<string>{{248,193},{217,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change14.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,386},{209,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1251},{203,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1454},{189,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change17.png</key>
			<dict>
				<key>frame</key>
				<string>{{180,1647},{167,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change18.png</key>
			<dict>
				<key>frame</key>
				<string>{{181,1840},{153,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change19.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,1202},{133,193}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change20.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,183},{13,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change21.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,183},{9,187}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5009/change22.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,183},{5,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,209}</string>
			</dict>
			<key>effect/effect5010/fire01.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,704},{92,100}}</string>
				<key>offset</key>
				<string>{12,-50}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire02.png</key>
			<dict>
				<key>frame</key>
				<string>{{957,1419},{96,104}}</string>
				<key>offset</key>
				<string>{12,-41}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire03.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,1313},{96,106}}</string>
				<key>offset</key>
				<string>{12,-34}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire04.png</key>
			<dict>
				<key>frame</key>
				<string>{{821,956},{96,104}}</string>
				<key>offset</key>
				<string>{12,-28}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire05.png</key>
			<dict>
				<key>frame</key>
				<string>{{870,816},{96,104}}</string>
				<key>offset</key>
				<string>{12,-25}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire06.png</key>
			<dict>
				<key>frame</key>
				<string>{{863,1060},{96,104}}</string>
				<key>offset</key>
				<string>{12,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire07.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1217},{96,108}}</string>
				<key>offset</key>
				<string>{12,-20}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire08.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,920},{96,104}}</string>
				<key>offset</key>
				<string>{12,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire09.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,816},{96,104}}</string>
				<key>offset</key>
				<string>{12,-20}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire10.png</key>
			<dict>
				<key>frame</key>
				<string>{{777,561},{148,127}}</string>
				<key>offset</key>
				<string>{12,-19}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire11.png</key>
			<dict>
				<key>frame</key>
				<string>{{619,1157},{164,152}}</string>
				<key>offset</key>
				<string>{11,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1647},{196,180}}</string>
				<key>offset</key>
				<string>{7,9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire13.png</key>
			<dict>
				<key>frame</key>
				<string>{{219,392},{232,182}}</string>
				<key>offset</key>
				<string>{11,8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire14.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{253,183}}</string>
				<key>offset</key>
				<string>{14,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire15.png</key>
			<dict>
				<key>frame</key>
				<string>{{189,624},{285,131}}</string>
				<key>offset</key>
				<string>{3,14}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire16.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,595},{303,116}}</string>
				<key>offset</key>
				<string>{0,21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
			<key>effect/effect5010/fire17.png</key>
			<dict>
				<key>frame</key>
				<string>{{334,1956},{302,74}}</string>
				<key>offset</key>
				<string>{0,42}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,199}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect.png</string>
			<key>realTextureFileName</key>
			<string>effect.png</string>
			<key>size</key>
			<string>{1320,2033}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1320</integer>
			<key>height</key>
			<integer>2033</integer>
		</dict>
	</dict>
</plist>