<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>effect/effect5003/effect5003_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,144},{135,90}}</string>
				<key>offset</key>
				<string>{4,22}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1920,0},{144,120}}</string>
				<key>offset</key>
				<string>{4,37}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,965},{147,130}}</string>
				<key>offset</key>
				<string>{4,45}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,816},{149,130}}</string>
				<key>offset</key>
				<string>{4,50}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,667},{149,131}}</string>
				<key>offset</key>
				<string>{4,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1908,517},{150,131}}</string>
				<key>offset</key>
				<string>{4,52}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,826},{332,278}}</string>
				<key>offset</key>
				<string>{81,5}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_08.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,549},{490,278}}</string>
				<key>offset</key>
				<string>{0,4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{1629,517},{505,279}}</string>
				<key>offset</key>
				<string>{10,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,279},{512,276}}</string>
				<key>offset</key>
				<string>{11,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,0},{517,278}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1117,0},{525,279}}</string>
				<key>offset</key>
				<string>{7,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,275},{532,282}}</string>
				<key>offset</key>
				<string>{6,-3}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_14.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,0},{552,280}}</string>
				<key>offset</key>
				<string>{7,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_15.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{565,275}}</string>
				<key>offset</key>
				<string>{0,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_16.png</key>
			<dict>
				<key>frame</key>
				<string>{{532,280},{513,269}}</string>
				<key>offset</key>
				<string>{-24,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,557},{459,269}}</string>
				<key>offset</key>
				<string>{-48,-9}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1022,555},{357,234}}</string>
				<key>offset</key>
				<string>{-47,-23}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1379,555},{263,227}}</string>
				<key>offset</key>
				<string>{-39,-18}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
			<key>effect/effect5003/effect5003_20.png</key>
			<dict>
				<key>frame</key>
				<string>{{332,826},{164,224}}</string>
				<key>offset</key>
				<string>{-42,-21}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{565,288}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>effect5003.png</string>
			<key>realTextureFileName</key>
			<string>effect5003.png</string>
			<key>size</key>
			<string>{2040,1112}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2040</integer>
			<key>height</key>
			<integer>1112</integer>
		</dict>
	</dict>
</plist>