<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>enemy/enemy1001/enemy1001_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,86},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,0},{162,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,88}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{159,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{159,90}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,0},{130,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,89}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,181},{93,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,91}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,0},{108,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{108,97}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,96},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,97},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{559,0},{96,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,106}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{422,182},{96,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{96,83}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{965,86},{91,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,59}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{266,88},{95,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,49}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{765,86},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{159,88},{100,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,107}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,90},{99,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,107}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{315,89},{97,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,107}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{865,86},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,171},{85,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{85,100}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{665,0},{86,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,101}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,0},{86,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,101}</string>
			</dict>
			<key>enemy/enemy1001/enemy1001_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{867,0},{86,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{86,101}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>enemy1001.png</string>
			<key>realTextureFileName</key>
			<string>enemy1001.png</string>
			<key>size</key>
			<string>{1024,272}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>272</integer>
		</dict>
	</dict>
</plist>