<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero102skill02/fly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,1239},{185,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{1166,1424},{185,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{1304,1239},{185,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1356,724},{185,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1467,418},{185,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/fly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1483,209},{185,156}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,156}</string>
			</dict>
			<key>hero102skill02/star01.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1164},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star02.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,776},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star03.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,388},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star04.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star05.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1470},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star06.png</key>
			<dict>
				<key>frame</key>
				<string>{{196,1776},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star07.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1082},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star08.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,694},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star09.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,306},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star10.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,0},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star11.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,1388},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star12.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,1694},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star13.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1000},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star14.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,612},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star15.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,306},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star16.png</key>
			<dict>
				<key>frame</key>
				<string>{{851,0},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star17.png</key>
			<dict>
				<key>frame</key>
				<string>{{692,1306},{248,306}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,306}</string>
			</dict>
			<key>hero102skill02/star18.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{323,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,388}</string>
			</dict>
			<key>hero102skill02/star19.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{307,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,388}</string>
			</dict>
			<key>hero102skill02/star20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{355,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,388}</string>
			</dict>
			<key>hero102skill02/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1612},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{750,1821},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word03.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,918},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1051,612},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word05.png</key>
			<dict>
				<key>frame</key>
				<string>{{1067,306},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word06.png</key>
			<dict>
				<key>frame</key>
				<string>{{1099,0},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word07.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1127},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word08.png</key>
			<dict>
				<key>frame</key>
				<string>{{940,1336},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word09.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1545},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word10.png</key>
			<dict>
				<key>frame</key>
				<string>{{958,1754},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,821},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1259,515},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1275,209},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1307,0},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,1030},{208,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,209}</string>
			</dict>
			<key>hero102skill02/word16.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1164},{423,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{423,196}</string>
			</dict>
			<key>hero102skill02/word17.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1587},{423,196}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{423,196}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero102skill02.png</string>
			<key>realTextureFileName</key>
			<string>hero102skill02.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>