<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero103skill01/book01.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,312},{145,142}}</string>
				<key>offset</key>
				<string>{-14,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book02.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,162},{139,137}}</string>
				<key>offset</key>
				<string>{-14,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book03.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,0},{134,135}}</string>
				<key>offset</key>
				<string>{-13,-6}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book04.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,539},{120,120}}</string>
				<key>offset</key>
				<string>{-13,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book05.png</key>
			<dict>
				<key>frame</key>
				<string>{{564,539},{120,120}}</string>
				<key>offset</key>
				<string>{-13,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book06.png</key>
			<dict>
				<key>frame</key>
				<string>{{684,539},{99,105}}</string>
				<key>offset</key>
				<string>{-14,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book07.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,457},{82,89}}</string>
				<key>offset</key>
				<string>{-22,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book08.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,1591},{83,93}}</string>
				<key>offset</key>
				<string>{-23,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book09.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1591},{84,94}}</string>
				<key>offset</key>
				<string>{-23,-5}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book10.png</key>
			<dict>
				<key>frame</key>
				<string>{{775,1251},{84,90}}</string>
				<key>offset</key>
				<string>{-23,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book11.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1251},{118,94}}</string>
				<key>offset</key>
				<string>{-6,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/eye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{782,1005},{102,134}}</string>
				<key>offset</key>
				<string>{-4,-15}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{589,888},{117,148}}</string>
				<key>offset</key>
				<string>{-5,-9}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,888},{123,149}}</string>
				<key>offset</key>
				<string>{-5,-8}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1131},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,671},{217,174}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,333},{206,168}}</string>
				<key>offset</key>
				<string>{-1,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye07.png</key>
			<dict>
				<key>frame</key>
				<string>{{614,659},{186,159}}</string>
				<key>offset</key>
				<string>{-1,-4}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye08.png</key>
			<dict>
				<key>frame</key>
				<string>{{737,845},{160,158}}</string>
				<key>offset</key>
				<string>{-2,-7}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye09.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,0},{151,162}}</string>
				<key>offset</key>
				<string>{-4,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye10.png</key>
			<dict>
				<key>frame</key>
				<string>{{522,162},{138,150}}</string>
				<key>offset</key>
				<string>{-4,-7}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/fly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1347},{329,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1012},{335,212}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,0},{333,215}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,334},{337,219}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1355},{339,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,673},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly07.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1694},{339,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly08.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1014},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly09.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,673},{339,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/hero01.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1676},{177,302}}</string>
				<key>offset</key>
				<string>{-73,-43}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,388}</string>
			</dict>
			<key>hero103skill01/hero02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{307,334}}</string>
				<key>offset</key>
				<string>{0,-27}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,388}</string>
			</dict>
			<key>hero103skill01/hero03.png</key>
			<dict>
				<key>frame</key>
				<string>{{397,1676},{177,302}}</string>
				<key>offset</key>
				<string>{-44,-49}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,399}</string>
			</dict>
			<key>hero103skill01/hero04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,334},{225,339}}</string>
				<key>offset</key>
				<string>{-65,-24}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,388}</string>
			</dict>
			<key>hero103skill01/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{432,1012},{350,119}}</string>
				<key>offset</key>
				<string>{4,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,120}</string>
			</dict>
			<key>hero103skill01/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,1131},{320,120}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{380,120}</string>
			</dict>
			<key>hero103skill01/word03.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1347},{412,124}}</string>
				<key>offset</key>
				<string>{0,-2}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,138}</string>
			</dict>
			<key>hero103skill01/word04.png</key>
			<dict>
				<key>frame</key>
				<string>{{428,1471},{350,120}}</string>
				<key>offset</key>
				<string>{-1,-10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,139}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero103skill01.png</string>
			<key>realTextureFileName</key>
			<string>hero103skill01.png</string>
			<key>size</key>
			<string>{977,2033}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>977</integer>
			<key>height</key>
			<integer>2033</integer>
		</dict>
	</dict>
</plist>