<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero104skill02/boom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{53,2023},{49,14}}</string>
				<key>offset</key>
				<string>{11,-88}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2023},{53,23}}</string>
				<key>offset</key>
				<string>{12,-84}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{409,1955},{57,27}}</string>
				<key>offset</key>
				<string>{12,-82}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1955},{61,31}}</string>
				<key>offset</key>
				<string>{12,-80}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{425,1552},{78,58}}</string>
				<key>offset</key>
				<string>{21,-67}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1926},{114,169}}</string>
				<key>offset</key>
				<string>{12,-11}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1610},{128,168}}</string>
				<key>offset</key>
				<string>{2,-11}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom08.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,1789},{131,166}}</string>
				<key>offset</key>
				<string>{-3,-13}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom09.png</key>
			<dict>
				<key>frame</key>
				<string>{{342,1615},{128,174}}</string>
				<key>offset</key>
				<string>{0,-8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom10.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1805},{128,181}}</string>
				<key>offset</key>
				<string>{2,-4}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom11.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1615},{122,190}}</string>
				<key>offset</key>
				<string>{5,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom12.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,1778},{111,188}}</string>
				<key>offset</key>
				<string>{1,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom13.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,0},{103,186}}</string>
				<key>offset</key>
				<string>{-3,-1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom14.png</key>
			<dict>
				<key>frame</key>
				<string>{{250,186},{92,185}}</string>
				<key>offset</key>
				<string>{-5,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/fly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,926},{94,97}}</string>
				<key>offset</key>
				<string>{3,1}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1299},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,342},{143,142}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,1778},{148,141}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,661},{153,134}}</string>
				<key>offset</key>
				<string>{1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,485},{157,128}}</string>
				<key>offset</key>
				<string>{2,-2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly07.png</key>
			<dict>
				<key>frame</key>
				<string>{{353,0},{117,111}}</string>
				<key>offset</key>
				<string>{-1,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly08.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,814},{112,107}}</string>
				<key>offset</key>
				<string>{0,1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly09.png</key>
			<dict>
				<key>frame</key>
				<string>{{350,1986},{52,55}}</string>
				<key>offset</key>
				<string>{1,10}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly10.png</key>
			<dict>
				<key>frame</key>
				<string>{{402,1986},{52,54}}</string>
				<key>offset</key>
				<string>{1,8}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/hero01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1299},{208,319}}</string>
				<key>offset</key>
				<string>{12,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,319}</string>
			</dict>
			<key>hero104skill02/hero02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{232,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,319}</string>
			</dict>
			<key>hero104skill02/hero03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{214,319}}</string>
				<key>offset</key>
				<string>{10,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,319}</string>
			</dict>
			<key>hero104skill02/hero04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,980},{214,319}}</string>
				<key>offset</key>
				<string>{9,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,319}</string>
			</dict>
			<key>hero104skill02/hero05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{250,342}}</string>
				<key>offset</key>
				<string>{3,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,342}</string>
			</dict>
			<key>hero104skill02/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1986},{130,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,42}</string>
			</dict>
			<key>hero104skill02/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1552},{217,63}}</string>
				<key>offset</key>
				<string>{-2,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,63}</string>
			</dict>
			<key>hero104skill02/word03.png</key>
			<dict>
				<key>frame</key>
				<string>{{208,1468},{292,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,84}</string>
			</dict>
			<key>hero104skill02/word04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1618},{405,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,110}</string>
			</dict>
			<key>hero104skill02/word05.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1618},{405,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,110}</string>
			</dict>
			<key>hero104skill02/zi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{536,1966},{50,39}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
			<key>hero104skill02/zi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,1982},{50,42}}</string>
				<key>offset</key>
				<string>{0,-1}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
			<key>hero104skill02/zi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{496,1966},{50,40}}</string>
				<key>offset</key>
				<string>{0,2}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero104skill02.png</string>
			<key>realTextureFileName</key>
			<string>hero104skill02.png</string>
			<key>size</key>
			<string>{759,2046}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>759</integer>
			<key>height</key>
			<integer>2046</integer>
		</dict>
	</dict>
</plist>