<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero101skill02/boom00.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{299,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,403}</string>
			</dict>
			<key>hero101skill02/boom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1179},{299,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,403}</string>
			</dict>
			<key>hero101skill02/boom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1582},{299,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,403}</string>
			</dict>
			<key>hero101skill02/boom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,776},{299,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{299,403}</string>
			</dict>
			<key>hero101skill02/boom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,388},{299,403}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,403}</string>
			</dict>
			<key>hero101skill02/hero01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{323,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,388}</string>
			</dict>
			<key>hero101skill02/hero02.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{307,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,388}</string>
			</dict>
			<key>hero101skill02/hero03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{355,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,388}</string>
			</dict>
			<key>hero101skill02/wind01.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1559},{201,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,136}</string>
			</dict>
			<key>hero101skill02/wind02.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1760},{201,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,136}</string>
			</dict>
			<key>hero101skill02/wind03.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1179},{201,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,136}</string>
			</dict>
			<key>hero101skill02/wind04.png</key>
			<dict>
				<key>frame</key>
				<string>{{419,1380},{201,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{201,136}</string>
			</dict>
			<key>hero101skill02/wind05.png</key>
			<dict>
				<key>frame</key>
				<string>{{555,1179},{201,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{201,136}</string>
			</dict>
			<key>hero101skill02/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{662,0},{380,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,120}</string>
			</dict>
			<key>hero101skill02/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{299,1179},{380,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,120}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero101skill02.png</string>
			<key>realTextureFileName</key>
			<string>hero101skill02.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>