<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero103skill01/book09.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,225},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book10.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,225},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book11.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,225},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/eye01.png</key>
			<dict>
				<key>frame</key>
				<string>{{475,0},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye02.png</key>
			<dict>
				<key>frame</key>
				<string>{{543,372},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye03.png</key>
			<dict>
				<key>frame</key>
				<string>{{657,0},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye04.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,597},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye05.png</key>
			<dict>
				<key>frame</key>
				<string>{{725,372},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye06.png</key>
			<dict>
				<key>frame</key>
				<string>{{839,0},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye07.png</key>
			<dict>
				<key>frame</key>
				<string>{{647,822},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye08.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1047},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye09.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,1272},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/eye10.png</key>
			<dict>
				<key>frame</key>
				<string>{{880,1454},{225,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{225,182}</string>
			</dict>
			<key>hero103skill01/fly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1563},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1563},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{264,1164},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,1505},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,776},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{484,1117},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly07.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,1458},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly08.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,1799},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/fly09.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,388},{341,220}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{341,220}</string>
			</dict>
			<key>hero103skill01/hero01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,388},{323,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{323,388}</string>
			</dict>
			<key>hero103skill01/hero02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,776},{307,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{307,388}</string>
			</dict>
			<key>hero103skill01/hero03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1164},{264,399}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{264,399}</string>
			</dict>
			<key>hero103skill01/hero04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{355,388}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{355,388}</string>
			</dict>
			<key>hero103skill01/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{527,729},{380,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,120}</string>
			</dict>
			<key>hero103skill01/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,0},{380,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{380,120}</string>
			</dict>
			<key>hero103skill01/word03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1904},{412,138}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{412,138}</string>
			</dict>
			<key>hero103skill01/word04.png</key>
			<dict>
				<key>frame</key>
				<string>{{412,1904},{391,139}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{391,139}</string>
			</dict>
			<key>hero103skill01/book01.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,597},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book02.png</key>
			<dict>
				<key>frame</key>
				<string>{{907,372},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book03.png</key>
			<dict>
				<key>frame</key>
				<string>{{991,225},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book04.png</key>
			<dict>
				<key>frame</key>
				<string>{{1021,0},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book05.png</key>
			<dict>
				<key>frame</key>
				<string>{{829,769},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book06.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,941},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book07.png</key>
			<dict>
				<key>frame</key>
				<string>{{886,1113},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
			<key>hero103skill01/book08.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,1260},{172,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{172,147}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero103skill01.png</string>
			<key>realTextureFileName</key>
			<string>hero103skill01.png</string>
			<key>size</key>
			<string>{2048,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>