<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero/hero103/hero103_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,173},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{154,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{154,88}</string>
			</dict>
			<key>hero/hero103/hero103_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,0},{151,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,89}</string>
			</dict>
			<key>hero/hero103/hero103_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{136,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{136,85}</string>
			</dict>
			<key>hero/hero103/hero103_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,281},{115,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,86}</string>
			</dict>
			<key>hero/hero103/hero103_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{803,96},{76,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{76,88}</string>
			</dict>
			<key>hero/hero103/hero103_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{107,185},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_dead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{891,96},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>hero/hero103/hero103_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,269},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{702,96},{67,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{67,101}</string>
			</dict>
			<key>hero/hero103/hero103_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,365},{110,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,85}</string>
			</dict>
			<key>hero/hero103/hero103_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,0},{109,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,63}</string>
			</dict>
			<key>hero/hero103/hero103_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{245,89},{110,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,42}</string>
			</dict>
			<key>hero/hero103/hero103_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,0},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{602,96},{79,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,100}</string>
			</dict>
			<key>hero/hero103/hero103_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,189},{102,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,97}</string>
			</dict>
			<key>hero/hero103/hero103_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{136,89},{109,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,96}</string>
			</dict>
			<key>hero/hero103/hero103_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{287,93},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{305,0},{121,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{121,93}</string>
			</dict>
			<key>hero/hero103/hero103_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{501,96},{101,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{101,91}</string>
			</dict>
			<key>hero/hero103/hero103_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,199},{70,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{70,97}</string>
			</dict>
			<key>hero/hero103/hero103_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{533,0},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,0},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{747,0},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,0},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
			<key>hero/hero103/hero103_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{394,96},{107,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,96}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero103.png</string>
			<key>realTextureFileName</key>
			<string>hero103.png</string>
			<key>size</key>
			<string>{1024,475}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>475</integer>
		</dict>
	</dict>
</plist>