<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero/hero101/hero101_atk01.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,178},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>hero/hero101/hero101_atk02.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,0},{132,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{132,101}</string>
			</dict>
			<key>hero/hero101/hero101_atk03.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,0},{153,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{153,97}</string>
			</dict>
			<key>hero/hero101/hero101_atk04.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,0},{134,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,81}</string>
			</dict>
			<key>hero/hero101/hero101_atk05.png</key>
			<dict>
				<key>frame</key>
				<string>{{704,0},{122,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,87}</string>
			</dict>
			<key>hero/hero101/hero101_atk06.png</key>
			<dict>
				<key>frame</key>
				<string>{{436,81},{99,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{99,101}</string>
			</dict>
			<key>hero/hero101/hero101_atk07.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,183},{95,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,97}</string>
			</dict>
			<key>hero/hero101/hero101_atk08.png</key>
			<dict>
				<key>frame</key>
				<string>{{834,87},{96,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>
			<key>hero/hero101/hero101_dead01.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,101},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>hero/hero101/hero101_die01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,223},{96,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,99}</string>
			</dict>
			<key>hero/hero101/hero101_die02.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,101},{114,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,87}</string>
			</dict>
			<key>hero/hero101/hero101_die03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,114},{110,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{110,109}</string>
			</dict>
			<key>hero/hero101/hero101_die04.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,0},{119,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{119,87}</string>
			</dict>
			<key>hero/hero101/hero101_die05.png</key>
			<dict>
				<key>frame</key>
				<string>{{945,0},{90,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{90,46}</string>
			</dict>
			<key>hero/hero101/hero101_hit01.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,81},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>hero/hero101/hero101_hit02.png</key>
			<dict>
				<key>frame</key>
				<string>{{932,90},{110,85}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{110,85}</string>
			</dict>
			<key>hero/hero101/hero101_hit03.png</key>
			<dict>
				<key>frame</key>
				<string>{{931,200},{104,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,84}</string>
			</dict>
			<key>hero/hero101/hero101_hit04.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,184},{98,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{98,84}</string>
			</dict>
			<key>hero/hero101/hero101_hit05.png</key>
			<dict>
				<key>frame</key>
				<string>{{387,180},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>hero/hero101/hero101_skill01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{151,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,114}</string>
			</dict>
			<key>hero/hero101/hero101_skill02.png</key>
			<dict>
				<key>frame</key>
				<string>{{151,97},{122,105}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{122,105}</string>
			</dict>
			<key>hero/hero101/hero101_skill03.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,0},{134,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,81}</string>
			</dict>
			<key>hero/hero101/hero101_skill04.png</key>
			<dict>
				<key>frame</key>
				<string>{{273,188},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>hero/hero101/hero101_stand01.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,202},{97,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,98}</string>
			</dict>
			<key>hero/hero101/hero101_stand02.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,87},{96,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{96,99}</string>
			</dict>
			<key>hero/hero101/hero101_stand03.png</key>
			<dict>
				<key>frame</key>
				<string>{{636,87},{99,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,97}</string>
			</dict>
			<key>hero/hero101/hero101_stand04.png</key>
			<dict>
				<key>frame</key>
				<string>{{735,183},{95,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,99}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero101.png</string>
			<key>realTextureFileName</key>
			<string>hero101.png</string>
			<key>size</key>
			<string>{1017,319}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1017</integer>
			<key>height</key>
			<integer>319</integer>
		</dict>
	</dict>
</plist>