<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict />
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero101.png</string>
			<key>realTextureFileName</key>
			<string>hero101.png</string>
			<key>size</key>
			<string>{1,1}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1</integer>
			<key>height</key>
			<integer>1</integer>
		</dict>
	</dict>
</plist>