<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>hero104skill02/boom01.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,511},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom02.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,999},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom03.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1190},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom04.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1381},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom05.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1616},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom06.png</key>
			<dict>
				<key>frame</key>
				<string>{{388,1807},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom07.png</key>
			<dict>
				<key>frame</key>
				<string>{{369,999},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom08.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,648},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom09.png</key>
			<dict>
				<key>frame</key>
				<string>{{424,507},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom10.png</key>
			<dict>
				<key>frame</key>
				<string>{{569,338},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom11.png</key>
			<dict>
				<key>frame</key>
				<string>{{400,839},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom12.png</key>
			<dict>
				<key>frame</key>
				<string>{{537,644},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom13.png</key>
			<dict>
				<key>frame</key>
				<string>{{615,475},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/boom14.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,0},{137,191}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{137,191}</string>
			</dict>
			<key>hero104skill02/fly01.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1618},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly02.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1787},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly03.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,661},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly04.png</key>
			<dict>
				<key>frame</key>
				<string>{{233,342},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly05.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,0},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly06.png</key>
			<dict>
				<key>frame</key>
				<string>{{255,169},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly07.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,338},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly08.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,0},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly09.png</key>
			<dict>
				<key>frame</key>
				<string>{{423,169},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/fly10.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,830},{169,168}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{169,168}</string>
			</dict>
			<key>hero104skill02/hero01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,661},{232,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,319}</string>
			</dict>
			<key>hero104skill02/hero02.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,980},{232,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,319}</string>
			</dict>
			<key>hero104skill02/hero03.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,342},{233,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{233,319}</string>
			</dict>
			<key>hero104skill02/hero04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1299},{232,319}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{232,319}</string>
			</dict>
			<key>hero104skill02/hero05.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{255,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,342}</string>
			</dict>
			<key>hero104skill02/word01.png</key>
			<dict>
				<key>frame</key>
				<string>{{232,1572},{130,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,42}</string>
			</dict>
			<key>hero104skill02/word02.png</key>
			<dict>
				<key>frame</key>
				<string>{{512,1944},{220,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{220,63}</string>
			</dict>
			<key>hero104skill02/word03.png</key>
			<dict>
				<key>frame</key>
				<string>{{220,1956},{292,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{292,84}</string>
			</dict>
			<key>hero104skill02/word04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1618},{405,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,110}</string>
			</dict>
			<key>hero104skill02/word05.png</key>
			<dict>
				<key>frame</key>
				<string>{{110,1618},{405,110}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,110}</string>
			</dict>
			<key>hero104skill02/zi01.png</key>
			<dict>
				<key>frame</key>
				<string>{{362,1572},{50,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
			<key>hero104skill02/zi02.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,191},{50,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
			<key>hero104skill02/zi03.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,241},{50,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,44}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hero104skill02.png</string>
			<key>realTextureFileName</key>
			<string>hero104skill02.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>